@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 955px) {
    padding: 20px 0;
  }

  &__label {
    @media (max-width: 955px) {
      p {
        display: none;
      }
    }
  }

  &__cart {
    .button--cart {
      @media (max-width: 341px) {
        padding: 10px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 850px) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 334px) {
        font-size: 22px;
      }
    }

    p {
      color: #7b7b7b;
    }
  }
}
